body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

/* Links */
a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

header,
footer {
  background-color: #1d2540;
  color: white;
}

header a {
  color: white;
}

.cta-view {
  background-color: #df7b2f;
  color: white;
}

.reviews {
  background-color: #e5e6e8;
}
.featured-games {
  background-color: white;
}

.cta {
  background-color: #df7b2f;
  color: white;
  font-size: large;
}

footer {
  text-align: center;
}

/* Home */

.landing {
  background-image: url(../image/Homepage/Home_image.jpg);
  background-size: cover;
  min-height: 82vh;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.Gamehub-offers_image {
  border: 200px;
}

.review_image {
  border-radius: 9999px;
}
