body {
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

header {
  display: flex;
  align-items: center;
}

nav {
  margin-left: 30px;
}
nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

/* Nav bar */
a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

/* Nav bar */

header,
footer {
  background-color: #1d2540;
  color: white;
}

header a {
  color: white;
  padding: 8px;
}

.cta {
  background-color: #df7b2f;
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 60px 10px 60px;
  border-radius: 4px;
}

.cta-small {
  padding: 7px 30px 7px 30px;
}

.reviews {
  background-color: #e5e6e8;
}
.featured-games {
  background-color: white;
}

footer {
  text-align: center;
}

/* Home */

.landing {
  background-image: url(../image/Homepage/Home_image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 82vh;
  position: relative;
}

.landing__content {
  position: absolute;
  text-align: center;
  top: 200px;
  left: 650px;
}

.gamehub-offers {
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
}

.gamehub-offers > * {
  flex: 1;
}

.gamehub_offers li {
  text-transform: capitalize;
}

.Gamehub-offers__image {
  border: 100px;
  width: 100%;
}

.review_image {
  width: 80px;
  border-radius: 9999px;
}
